# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/cetbin/authapi"
PassengerBaseURI "/"
PassengerNodejs "/home/cetbin/nodevenv/authapi/12/bin/node"
PassengerAppType node
PassengerStartupFile index.js
PassengerAppLogFile "/home/cetbin/authapi/debug.log"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END